numpy>=1.26
absl-py
clu @ git+https://github.com/google/CommonLoopUtils.git@v0.0.9
distrax
editdistance
einops
flax
optax
git+https://github.com/google/flaxformer
git+https://github.com/akolesnikoff/panopticapi.git@mute
overrides
protobuf
sentencepiece
tensorflow-cpu
tfds-nightly
tensorflow-text
tensorflow-gan
psutil
pycocoevalcap
